.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 10px;
  background: white;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #d6d6d5, #d6d6d5);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #d6d6d5, #d6d6d5);
  border-radius: 5px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    color: black;
  }

  .preview {
    display: flex;
    justify-content: space-between;
    color: black;
  }
}
